@font-face {
    font-family: JetBrainsMono-Bold;
    src: url(JetBrainsMono-Bold.ttf);
}

#cover{
    float: left;
    margin-right: 20px;
}
h1{
    
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}
h3{
    font-style: italic;
    font-size: medium;
    font-size: 12px;
}

#title{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
}

#fter{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: red;
}
